/* Student Role: student_1
   Student Name: Heshan Wanigasinghe */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transform: all 0.2s linear;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.container .title {
  font-size: 3.5rem;
  color: #444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

/* .container .product-container .product img{
  height: 500px;
} */

.product img {
  height: 200px;
}

.container .products-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem; */
}
