/* Student Role: student_1
   Student Name: Heshan Wanigasinghe */

* {
  font-family: "Lora", serif;
  padding: 0;
  margin: 0;
  background-color: #40513b;
}

.container {
  display: flex;
}

#page-heading {
  font-size: 80px;
  color: white;
  text-align: center;
  margin: 20px 0px;
}

.container .container-products {
  width: 75%;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.product {
  width: 300px;
  height: fit-content;
}

.container-products .product {
  padding: 10px;
  text-align: center;
  border: solid 5px #609966;
  border-radius: 10px;
}

.container-products .product:hover {
  transform: scale(0.98);
}

.container-products .add-to-cart-button button:hover {
  transform: scale(0.9);
}

.container-products .add-to-cart-button button {
  font-size: large;
  padding: 10px;
  margin: 10px 0;
  border: solid 5px #609966;
  border-radius: 10px;
  background: #609966;
  color: white;
  cursor: pointer;
}

.container-products .product .product-info{
  font-size: 25px;
  font-weight: bold;
  color: white;
}

img {
  height: 300px;
}

.product-info h3 {
  font-size: 30px;
}

.product-info p {
  font-size: 15px;
  margin-bottom: 7px;
  /* margin: 0px 5px; */
}

.container .shopping-cart {
  margin: 50px 50px 50px 50px;
  flex-direction: column;
  width: 25%;
  height: 1000px;
  border: solid 5px #609966;
  border-radius: 10px;
}

.container .shopping-cart h2 {
  font-size: 25px;
  margin: 20px;
  color: white;
  text-align: center;
}