
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lora','serif';
}
body{
    transition: all 1.5s ease;
 
}
.pyramid{
    height:200px;
    width:300px;
    float:left;
    padding:00px 0px 0px 00px;
   
}
.two{
    height:200px;
    width:300px;
    float:right;
}
.food{
    margin:60px;
    background-color:#9DC08B;
    border: solid #9DC08B 5px;
    border-radius: 10px;
    padding-bottom:50px
}

.bigimage{
    width:100%;
    height:600px;
    position:relative;
    background-image: url(nilantha-sanjeewa-EXHIHvJu4VU-unsplash.jpg);
    background-size:cover ;
}
.headline{
    width:100%;
    height:100%;
    font-size: 26px;
    color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-color: rgba(0, 0, 0, 0.5);
}
