@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    color:white;
}
body{
    margin-top:150px;
    min-wdith:375px;
    font-family: 'Lora', sans-serif;
    text-align: center;
    font-weight: 400;
    background-color:#EDF1D6; //DBAC95
    color:black;
    width:100%;
    /* display:flex; */
    /* align-items:center; */
    justify-content: center; 
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#40513B;
    margin-bottom:10px;
    padding-bottom:10px; 
    z-index:1;
    }

footer{
    background-color:#40513B;
    color:white;
    /* position:absolute; */
    bottom:0;
    /* width:100%; */
    width:100%;
    height:150px;;
    display:flex;
    flex-wrap:wrap;

}
.header-icon{
    margin:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
}

.header-icon h1{
    color:white;
    margin-top:20px;
    margin-left:-70px;
}

.header-icon > img{
    /* padding-top:10px; */
    padding-left:10px;
    max-height:80px;

}
#hamburgMenu{
    padding:27px;
    /* display:none; */
}
.header-links{
    display:none;
}

.stage{

    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    align-items:center;


}

.slideshow{
    margin-top:150px;
    display:flex;
    align-items:center;
    padding:10px;
    justify-content:center;
}

.slides{
    display:none;
}

.visible{
    display:block;
}

.slides img{
    height:50vh;
}
.arrow-front , .arrow-back {
    cursor: pointer;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.normal-post{
    margin:20px auto;
    padding:20px;
    background-color:#9DC08B;
    width: 40%;
    min-height: 400px;
    font-size:23px;    
    border-radius:50px;
    display:flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */

}
.normal-post img{
    float:left;
    margin:20px;
    width:250px;
    background-size:cover;
}

.mini{
    display:flex;
    padding:30px;
    width: 60%;
    min-height:250px;
}

ul {
    list-style: none;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    width:90wv;
    margin:20px 10vw;
}

.footer-container{
    /* padding:10px; */
    width:100%;
    margin:0 auto;
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}



#toTop{
    display:none;
    position:fixed;
    bottom: 130px;
    right:5px;
    transform: scale(0.5);
}

.normal-post a{
    text-decoration:none;
    color:#EDF1D6;
    font-size:18px;
}




.details{
    text-align:left;
}

.icons > a > img{
    height:40px;
    background-color:white;
}
.icons > a > img:hover{
    background-color:orange;
    cursor:pointer;
}
@media(min-width:960px){
    .header-links{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:center;
        align-items: center;
    }
    
    .header-links > a{
        padding:10px;
        font-size:25px;
    }
    
    .header-links > a:hover{
        background-color:#7E4B11;
        height:100%;
        cursor:pointer;
    }
    
    .header-links> a.current{
        background-color:#7E4B11;
    }
    #hamburgMenu{
        display:none;
    }
    .header-links-hamburg{
        display:none;
    }
    .stage > .single-slide{
        display:none;
    }
    header{
        margin-bottom:150px;
    }
}

@media(max-width:960px){
    .header-links > a{
        display:none;
    }
    .header-links-hamburg{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:space-between;
    }
    
    .header-links-hamburg> a.current{
        background-color:#7E4B11;
    }
    .header-links-hamburg > a:hover{
        background-color:#7E4B11;
        height:100%;
        cursor:pointer;
    }
    .header-links-hamburg > a{
        padding:5px;
        font-size:15px;
    }
    #hamburgMenu{
        display:block;
        cursor:pointer;
    }
    /* .normal-post{
        margin:10px auto;
        padding:10px;
        background-color:#d3d3d3;
        display:flex;
        align-items:center;
        width:90%;
        font-size:15px;
        border-radius:50px;
        padding-right:20px;
    } */


    .slideshow{
        margin-top:100px;
    }


    footer{
        width:100%;
    }
 
}



//https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557
//https://coolors.co/palette/0fa3b1-b5e2fa-f9f7f3-eddea4-f7a072
//https://coolors.co/7e4b11-dbac95-f1ab86-f7dba7-9cafb7