@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap');
*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    color:white;
}
body{
    min-wdith:375px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: 700;
    background-color:black; //DBAC95
    color:white;
}
.header-icon{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;

}
.header-icon > img{
    padding-top:10px;
    padding-left:10px;
    max-height:60px;

}
#hamburgMenu{
    padding:27px;
    /* display:none; */
}
.header-links{
    display:none;
}

@media(min-width:960px){
    .header-links{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:center;
        align-items: center;
    }
    
    .header-links > a{
        padding:20px;
        font-size:25px;
    }
    
    .header-links > a:hover{
        background-color:#7E4B11;
        height:100%;
        cursor:pointer;
    }
    
    .header-links> a.current{
        background-color:#7E4B11;
    }
    #hamburgMenu{
        display:none;
    }
    .header-links-hamburg{
        display:none;
    }
}

@media(max-width:960px){
    .header-links-hamburg{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:space-between;
    }
    
    .header-links-hamburg> a.current{
        background-color:#7E4B11;
    }
    .header-links-hamburg > a:hover{
        background-color:#7E4B11;
        height:100%;
        cursor:pointer;
    }
    .header-links-hamburg > a{
        padding:5px;
        font-size:15px;
    }

}


//https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557
//https://coolors.co/palette/0fa3b1-b5e2fa-f9f7f3-eddea4-f7a072
//https://coolors.co/7e4b11-dbac95-f1ab86-f7dba7-9cafb7