@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    color:white;
}
body{
    /* margin-top:150px; */
    min-width:375px;
    font-family: 'Lora', sans-serif;
    text-align: center;
    font-weight: 400;
    background-color:#EDF1D6; 
    color:black;
    width:100%;
    /* display:flex; */
    /* align-items:center; */
    justify-content: center; 
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#40513B;
    margin-bottom:10px;
    padding-bottom:10px; 
    z-index:1;
    }

footer{
    background-color:#40513B;
    color:white;
    /* position:absolute; */
    bottom:0;
    /* width:100%; */
    width:100%;
    height:150px;;
    display:flex;
    flex-wrap:wrap;

}
.header-icon{
    margin:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;

}
.header-icon > img{
    /* padding-top:10px; */
    padding-left:10px;
    max-height:60px;

}

#hamburgMenu{
    padding:27px;
    /* display:none; */
}
.header-links{
    display:none;
}

.stage{

    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    align-items:center;


}

.slideshow{
    margin-top:150px;
    display:flex;
    align-items:center;
    padding:10px;
    justify-content:center;
}

.slides{
    display:none;
}

.visible{
    display:block;
}

.slides img{
    height:50vh;
}
.arrow-front , .arrow-back {
    cursor: pointer;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }


.normal-post1{
    /* background-color:#808080; */
    display:flex;
    align-items:center;
    width:70%;
    font-size:24px;
    border-radius:50px;
    margin-left:5vw;
}

.normal-post1 img{
    width:30vw;
    padding:40px;
    background-size:cover;
}

.normal-post2{
    display:flex;
    align-items:center;
    width:70%;
    font-size:24px;
    border-radius:50px;
    margin-left:20vw;
}

.normal-post2 img{
    width:30vw;
    padding:40px;
    background-size:cover;
}
.footer-container{
    /* padding:10px; */
    width:100%;
    margin:0 auto;
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction:row;
    align-items:center;
    justify-content:space-between;

}

#toTop{
    display:none;
    position:fixed;
    bottom: 130px;
    right:5px;
    transform: scale(0.5);
}





.details{
    text-align:left;
}

.icons > a > img{
    height:40px;
    background-color:white;
}
.icons > a > img:hover{
    background-color:orange;
    cursor:pointer;
}
@media(min-width:960px){
    .header-links{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:center;
        align-items: center;
    }
    
    .header-links > a{
        padding:10px;
        font-size:25px;
    }
    
    .header-links > a:hover{
        background-color:#7E4B11;
        height:100%;
        cursor:pointer;
    }
    
    .header-links> a.current{
        background-color:#7E4B11;
    }
    #hamburgMenu{
        display:none;
    }
    .header-links-hamburg{
        display:none;
    }
    .stage > .single-slide{
        display:none;
    }
    header{
        margin-bottom:150px;
    }
}

@media(max-width:960px){
    .header-links > a{
        display:none;
    }
    .header-links-hamburg{
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:space-between;
    }
    
    .header-links-hamburg> a.current{
        background-color:#7E4B11;
    }
    .header-links-hamburg > a:hover{
        background-color:#7E4B11;
        height:100%;
        cursor:pointer;
    }
    .header-links-hamburg > a{
        padding:5px;
        font-size:15px;
    }
    #hamburgMenu{
        display:block;
        cursor:pointer;
    }
    .normal-post1{
        margin:10px auto;
        padding:10px;
        background-color:#d3d3d3;
        display:flex;
        align-items:center;
        width:90%;
        font-size:15px;
        border-radius:50px;
        padding-right:20px;
    }

    .normal-post2{
        margin:10px auto;
        padding:10px;
        background-color:#d3d3d3;
        display:flex;
        align-items:center;
        width:90%;
        font-size:15px;
        border-radius:50px;
        padding-right:20px;
    }

    .stage > .slides{
        display:block;
        flex-direction:row;
        flex-wrap:wrap;
    }
    footer{
        width:100%;
    }
 
}

