body{
    margin:0;
    padding:0;
    background-color:#ccc;
}
.nav ul {
    
    display:flex;
    align-items:center;
    justify-content:center;
    height:20vh;
    list-style: none;
    text-align:center;
    padding:0;
    margin:50px;
}
.nav li{
    
    padding:10px;
    display: inline-block;
}
.nav a{
    background-color:transparent;
    border:2px outset black;
    border-radius:15px;
    text-decoration: none;
    color:#fff;
    display:block;
    padding:30px;
    font-size:17px;
    font-family:Helvetica;
    transition:0.4s;
}

.L1{
    margin-top:350px;
    margin-bottom:-30px;
    align-items: center;
    justify-content: center;
    display:flex;
    
}
