*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lora','serif';
}
body{
    transition: all 1.5s ease;
    background-color: #EDF1D6;
}
.bigimage{
    width:100%;
    height:120%;
    position:relative;
    background-image: url(juliette-f-fb0_wj2MZk4-unsplash.jpg);
    background-size:cover ;
    transform: scale(1);
    transition: 1s;
}
.headline{
    width:100%;
    height:100%;
    font-size: 26px;
    color:white;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    

}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 9999;
  }
  
.floating-button__button {
    background-color: #609966;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
  .button-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .button-container.show {
    display: flex;
  }
  
.item{
    
    transition: 0.4s ease-in;
    width:40px;height: 40px;border-radius:20px;
}
.item1{
    transition-delay: 0.2s;
}
.item2{
    transition-delay: 0.2s;
    
}
.item3{
    transition-delay: 0.3s;
}
.item4{
    transition-delay: 0.4s;
}
.boxs-active{
    width:100px;
}
.contain-active i{
    transform: rotate(270deg);
    width:100%;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin: 40px 20px 0px 20px;
}
.container .box{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.container .box .main{
      display:flex;
      flex-direction: column;
      width:32.5%;
      
}
.container .box .main img{
   width:95%;
   padding-bottom:15px;
   border-radius:5px;
}
.image1{
    cursor: pointer;
    
}

.container .box .main img {
    width: 95%;
    padding-bottom: 30px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
 }
 
 .container .box .main img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
 }

@media only screen and (max-width: 769px) {
    .container .box {
        flex-direction: column;
    }
    .container .box .main {
        width: 100%;
    }
}

