#w1{
    width:100px;
    height: 100px;
}
body{
    margin-top:150px;
    background-color: #609966;
}

.sitemap{

}

rect{
    box-shadow: 3px 3px 5px;
    fill:transparent;
    stroke:#9DC08B;
    stroke-width:5;
}
line{
    stroke:#9DC08B;
    fill:none;
    stroke-width: 5;
}
.sitemap>a:visited text{
    color:aquamarine;
}
.sitemap>a:hover {
    background-color: #f0f0f0;
}


a:hover text {
    fill: blue;
}


a:hover image {
    opacity: 0.5;
}
rect:hover {
    color:aqua;
}


.bigimage{
    width:100%;
    height:600px;
    position:relative;
    background-image: url(img/ratul-ghosh-NPrWYa69Mz0-unsplash.jpg);
    background-size:cover ;
}
.headline{
    width:100%;
    height:100%;
    font-size: 26px;
    color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-color: rgba(0, 0, 0, 0.5);
}