.gallery{
    position: relative;
  }
  
.container{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    
}
.gallery .large-image {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    opacity: 0;
} 
    
    
.gallery:hover .large-image {
    position: fixed;
    opacity: 1;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 40%;
    width: 550px;
    z-index: 15;
}
    
    
p{
    margin: 20px 0 0 520px;
    right: 30px;
    top: 0;
    opacity: 1;
    text-align: left;
}
    
.intro{
      height: 300px;
      width: 800px;
      padding: 10px 30px 30px 30px ;
      border-radius: 5px;
      position: fixed;
      margin-left: 0;
      bottom: 5%;
      right: -5000px;
      transition: 1s;
      background:rgb(27,27,27, .7);
      color: white;
      visibility: hidden;
}
    
      
.gallery:hover .intro{
          
    visibility: visible;
    left: 20%;
    top: 40%;
    position: fixed;
    z-index: 10;
    border: 1px solid black;
 }
       
      
.gallery:hover p{
      opacity: 1;
      visibility: visible;
      transform: scale(1.1 );
      transition: 1s;
      
}
      
.main-scroll-div:hover {
    margin-bottom: 400px; /* add margin to create space */      
}
      
.gallery:not(:hover) + .gallery {  /* increase top of next line of images */
      
      top: calc(0 + 0 + 250px); /* height + margin + hovering image height */
}
.font-sizes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.font-sizes button {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 5px;
    font-size: 18px;
    text-shadow: 0.5px 0.5px white;
}

.font-sizes button:focus {
    outline: none;
}

.font-sizes button.active {
    font-weight: bold;
}

.font-sizes button#small.active {
    font-size: 14px;
}

.font-sizes button#medium.active {
    font-size: 18px;
}

.font-sizes button#large.active {
    font-size: 22px;
}
.main-scroll-div .cover .child .image1:hover{
    transform: scale(1.1);
}