:root{
    --primary_color: #ff2400;
    --secondary_color: #ff9700;
    --background_color:#fcfcfc;
    --White_color: white;
    --Black_color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'poppins',sans-serif;
    color:var(--Black_color);
    letter-spacing: 0.5px;
    word-spacing: 1.75px;
}

body{
    background-color: var(--background_color);
   
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 0px 150px;
   width: 100%;
   height: 115px;

   background-color: var(--Black_color);
   box-shadow: 2px 2px 5px #3333338b;
      
}

.navitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    
}

.navitems h1{
    margin: 0px 60px;
}

.navitems h1 a{
    color:var(--White_color);
    text-decoration: none;
    cursor: pointer;
}

.Nlogo{
    margin-top: 18px;
    width: 180px;
}

.logo{
    filter: contrast(120%);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items:center;

    background-image:url(bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    background-color: hsla(300, 100%, 25%, 0.752);

    backdrop-filter: blur(15px);

}

.box {
    margin-top: 100px;
    padding: 0px 100px;
    width: 70%;
    height: 90vh;
    background-color:var(--background_color);
    border-radius: 20px 20px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}


.quizicon{
    
    display:flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -110px;

    margin-bottom:-100px ;
    
}

.quizcount {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -45px;
    font-weight: 700;

}

.quesion h1{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0px 200px;
    text-align: center;
    color: #7d18a8;
}

.answres{
    font-size: 1rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: 30px 50px;
}


.answres div div{
    margin: 20px;
}

button{
    border:4px solid #d1d1d1;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    color:  #080311;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: start;
    background-color: #ffffff;
    cursor: pointer;
}

button:hover{
    background-color:#ffffff;
    border: 4px solid #7d18a8;
    color: #7d18a8;
    transform:scale(1.005);
    transition: all 0.3s ease 0s;
}
