/* Student Role: student 1
Student Name: Heshan Wanigasinghe  */

* {
  padding: 0;
  margin: 0;
}

#video-background {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background-color: #40513b;
}

h3 {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

/* Center the splash screen and loading animation */
.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Loader container */
.loader-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 1;
}

/* Text */
.text #website-name {
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.text #creators {
  color: white;
  font-size: 200px;
  font-weight: 600;
}

/* Loading animation */
.loader {
  margin-top: 170px;
  width: 100px;
  height: 100px;
  border: 8px solid white;
  border-top: 8px solid #5e5e5e;
  border-bottom: 8px solid #5e5e5e;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  margin-bottom: 30px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
