/* Student Role: student_2
Student Name: M.B.V.Pesanjith  */

main{
    margin:20px auto;
    width: 70vw;

    
}

main *{
    padding:10px;
}

h1, h2{
    color: #40513B;
}

p{
    text-align:left;
}

main > a{
    color:#40513B
}

.post-card{
    width:60vw;
    margin:30px auto;
    padding:20px;
    border-radius:20px;
    background-color: #F7FFE5;
}